<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>start</title>
    <link rel="icon" href="/imagens/icon.png">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <h1 id="title">Gerenciador de tarefas</h1>
    </header>

    <main class="block-buttons">
        <button id="button-1"><a href="/tasks">Definir tasks</a></button>
        <button id="button-2"><a href="/tasks/teams">Sortear tasks</a></button>
    </main>

</body>
</html>