<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tasks</title>
    <link rel="icon" href="/imagens/icon.png">
    <link rel="stylesheet" href="/css/tasks.css">
</head>
<body>
    <header>
        <h1 id="title">✍️ Escreva as tasks</h1>
    </header>
    
    <main>
        <form class="forms" action="/tasks" method="POST">
            <input id="task" type="text" name="task1" placeholder="Task">
            <input id="task" type="text" name="task2" placeholder="Task">
            <input id="task" type="text" name="task3" placeholder="Task">
            <input id="task" type="text" name="task4" placeholder="Task">
            <input id="enviar" type="submit" value="Enviar">
            <button id="button-voltar"><a href="index.html">Voltar</a></button>
        </form>
    </main>
</body>
</html>